body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page-main {
    display: flex;
    height: 938px;
}

.column-1 {
    justify-content: center;
    display: grid;
    font-size: 21px;
    width: 5%;
    padding: 1%;
    background-color: wheat;
    border: 2px solid rgba(202, 144, 35, 0.747);
}

.column-1 button {
    border: none;
    background-color: wheat;
    margin-top: 20%;
    font-size: 90%;
    text-align: center;
}

.column-2 {
    width: 65%;
    background-color: whitesmoke;
    font-size: 16px;
}

.column-2 button {
    margin-top: 1%;
    font-size: 70%;
    text-align: center;
    display: block;
    width: 22%;
}

.column-3 {
    width: 30%;
    background-color: wheat;
    border: 2px solid rgba(202, 144, 35, 0.747);
}

.price-1 {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    height: 20%;
    border-bottom: 2px solid rgba(202, 144, 35, 0.747);
}

.price-2 {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    height: 60%;
    border-bottom: 2px solid rgba(202, 144, 35, 0.747);

}

.price-3 {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    height: 20%;
    border-bottom: 2px solid rgba(202, 144, 35, 0.747);
}

.price-1-info {
    width: 50%;
    padding: 0;
    margin: 0;
    border-right: 2px solid rgba(202, 144, 35, 0.747);
}

.price-2-info {
    width: 50%;
    padding: 0;
    margin: 0;
}

.price-1 p {
    margin-top: 25%;
}

.price-3 button {
    background-color: wheat;
    height: 100%;
    border: none;
    width: 100%;
    font-size: 200%;
    text-align: center;
    display: block;
}

.price-3-info {
    border-right: 2px solid rgba(202, 144, 35, 0.747);
    width: 50%;
}

.price-3 button {
    height: 100%;
    border: none;
    width: 100%;
}

.price-4-info {
    width: 50%;
}

#out-columm {
    font-size: 30px;

}

/* ФОРМА ДОБАВЛЕНИЯ СОТРУДНИКОВ */

#user-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#user-form {
    padding: 20px;
    background-color: wheat;
    border: 2px solid rgba(202, 144, 35, 0.747);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

#notification {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid;
}

#notification.success {
    border-color: green;
    color: green;
}

#notification.error {
    border-color: red;
    color: red;
}

.center {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* таблица */

#out-columm {
    overflow-y: auto; /* добавим вертикальный скролл */
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
}

.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 25%; /* ширина каждого столбца установлена на четверть таблицы */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-table td {
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 20px;
}

.custom-table thead {
    background-color: #f2f2f2;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.custom-table th.name-column,
.custom-table td.name-column {
    width: 20%; /* фиксированная ширина для имени */
}

.custom-table th.lname-column,
.custom-table td.lname-column {
    width: 30%; /* фиксированная ширина для фамилии */
}

.custom-table th.phone-column,
.custom-table td.phone-column {
    width: 30%; /* фиксированная ширина для телефона */
}

.custom-table th.position-column,
.custom-table td.position-column {
    width: 20%; /* фиксированная ширина для должности */
}
